[submodule "vim-colors-solarized"]
	path = vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "pack/themes/solarized"]
	path = pack/themes/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "pack/themes/start/solarized"]
	path = pack/themes/start/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "pack/themes/start/dracula"]
	path = pack/themes/start/dracula
	url = git@github.com:dracula/vim.git
